{#include base}
{#title}Home - Summon Quarkus Example{/title}

{#content}
<div id="home-welcome">
    {summonComponent:render('welcome', name=userName)}
</div>

<div id="feature-showcase">
    {summonComponent:render('featureCards')}
</div>

<div id="dynamic-counter">
    {summonComponent:render('counter', initialCount=10)}
</div>

<div id="data-grid">
    {summonComponent:render('userTable', users=users)}
</div>

<div id="form-example">
    {summonComponent:render('contactForm')}
</div>
{/content}
{/include} 